{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
     "jest": true
  },
  "rules": {
    "semi": "off",
    "linebreak-style": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "object-curly-spacing": "off",
    "indent": "off",
    "quotes": "off",
    "eol-last": "off",
    "space-before-function-paren": "off",
    "arrow-parens": "off",
    "no-trailing-spaces": "off",
    "operator-linebreak": "off",
    "max-len":"off",
    "prefer-const": "off",
    "padded-blocks": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
